.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    text-align: center;
}
input {
    font-size: 5vw;
    text-align: center;

}
p {
    font-size: 5vw;
}

button {
    height: 50px;
    width: 50%
}

#result-container h2 {
    margin-bottom: 0;
}

#amount {
    font-size: 15vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

#conversion-amount {
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(133, 133, 133);
    color: white;
    text-align: center;
  }